.disclaimers {
    display: flex;
    gap: 200px;
    padding: 40px 80px 40px 80px;
    font-size: 12px;
    line-height: 1.5rem;
    background-color: #b6babe;
    color: #0a1928;
    
    &__container {
        display: flex;
        flex-direction: column;

        &--one {
            flex: 1;
        }

        &--two {
            flex: 0.5;
            text-align: right;
        }
    }

    &__list {
        display: flex;
        justify-content: flex-end;
        gap: 24px;
        margin: 0 0 12px;
        padding: 0;
        list-style: none;
    }

    &__copyright {
        text-align: right;
    }
}