.joincard {
    padding: 32px;
    width: 174px;
    background-color: #E7E8EA;
    color: #3B4753;
    border-radius: 3px;

    & p {
        font-size: 14px;
    }

    & h2 {
        font-size: 20px;
    }
}