.popularbrandsection {
    display:flex;
    gap: 17px;
    padding: 96px 200px 100px 200px;
    background-color: #788189;
    flex-wrap: wrap;

  
}

  @media screen and (min-width: 1440px) {
        .popularbrandsection {
            justify-content: space-between;
        }
    }

    @media screen and (min-width: 1645px) {
        .popularbrandsection {
            flex-wrap: nowrap;
        }
    }